@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Success";
}
<br />
<br />
<br />
<br />

<br />
<br />



<br />
<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            <h2>Your Job Opening post has been successful.</h2>
            <p>Click @Html.ActionLink("Here", "Create", "JobOpenings") to add another Job Openings.</p>
            
        </th>
    </tr>
</table>
