@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Employment Job Portal application has been developed for the online registration of private employers, submission of vacancy information, searching and sponsoring of candidates, issuance of letters to candidates, entry of interview and joining status of selected candidates etc. The Job portal intends to benefit the unemployed youth of the State, the Private sector employers who are looking for quality manpower for recruitment in their newly set up industries in the State and the Central Employment Cell of the Department whose job is to sponsor candidates to the private sector from amongst those registered candidates. All the vacancies notified by the private sector will be automatically available on the website.</p>

<h3>Objective</h3>

<p>Computerization of Central Employment Cell & all Employment Exchanges.Streamline working of employment exchanges by using IT.Switch to the Web based Job Portal from the existing manual process which is very time consuming and cumbersome.To provide job opportunities to the unemployed youth in the State.To meet manpower requirements of Industries and Projects set up in the StateTo better guide the younger generation in selection of their careers as per their aptitude and interestProvide a web-based interface for the private sector Employers to choose from amongst the registered candidate database.Online registration/ updation of candidate database.Electronic sponsorship of candidates for private employers.Interactive and openly accessibility of the Candidates database on the Internet.To provide live vacancies on the website.</p>
