@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <h4>TELANGANA KURUMA SANGAM</h4><br/>
    REGD NO : 15/51<br/>
    15-7-277, MUSULJUNG POOL BRIDGE,<br />
    HYDERABAD 500012<br />
    <abbr title="Phone">P:040-24618276</abbr>
    <abbr title="Mobile">M:+91-8008722209</abbr>
    425.555.0100
</address>

<address>
    <strong>KEC Jobs:</strong>&nbsp;&nbsp; &nbsp;<a href="mailto:tskurumasangam@gmail.com">tskurumasangam@gmail.com</a><br />
    <strong>Society Email:</strong> <a href="mailto:tskurumasangam@gmail.com">tskurumasangam@gmail.com</a><br />
</address>