@{
    ViewBag.Title = "KEC Jobs portal- Home Page";
}

<div class="jumbotron">
    <br />
    <h1>Namasthe !!!</h1>
    <p class="lead"><br/>With bessings of "Mallanna", We Kuruma Sangam Educational Committee(KEC) would like to proudly provide this KEC jobs portal to kuruma society.
    <br/><br />
    With aim to bring  experts in field of knowledge, help youth in skills development, to support, mentor and help them in getting jobs, this KEC jobs portal is an attempt
    to bring all under one umbrella.  At KEC jobs portal society members can view latest current trends and job oppurtunities being noted by fellow society members.</p>
    <p><a href="http://www.tskuruma.org/future.asp" class="btn btn-primary btn-lg" target="_new">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            To connect kurumas worldwide, provide a healthy and strong platform for promotion of Kuruma culture,
             language and heritage and network the expertise, experience and skills of kurumas worldwide 
            for building a harmonious, peaceful and prosperous Kuruma community.

        </p>
        <p><a class="btn btn-default" href="http://www.tskuruma.org/vision.asp" target="_new">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Objectives</h2>
        <p>To encourage & recognise the creative talents or outstanding personalities of the community in diverse fields.&nbsp;<br/>
         To establish a strong Kuruma online network and rally kurumas worldwide under one roof....
        <br/>
           Provide assistance to Kuruma students,people who are socially backward, physically handicapped and less fortunate....
        </p>
        <p><a class="btn btn-default" href="http://www.tskuruma.org/objectives.asp" target="_new">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Terms of use</h2>
        <p>This site is owned, provided, and operated by kurumas for your personal use, information, education, and entertainment.
As such, the use of this site is governed by all the following terms and conditions, and your use of this site will constitute your acceptance of these terms and conditions.... </p>
        <p><a class="btn btn-default" href="http://www.tskuruma.org/terms.asp" target="_new">Learn more &raquo;</a></p>
    </div>
</div>