@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Success";
}
<br />
<br />
<br />
<br />

<br />
<br />



<br />
<br />
<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            <h2>Your Account has been de-adctivated Contact adminstrator has been Successful.</h2>
            @*<p>Click @Html.ActionLink("Here", "Register", "Registrations") to add another Registration.</p>*@
        </th>
    </tr>
</table>
